{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>{{ calendar.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ calendar.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ calendar.name }}</td>
        </tr>
        <tr>
            <th>IsPublic</th>
            <td>{{ calendar.isPublic ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Events</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in calendar.events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.startAt ? event.startAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.endAt ? event.endAt|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">view/edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No events yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if calendar.isPublic or calendar.owner == app.user %}
        <a href="{{ path('app_event_new', {'calendarId': calendar.id}) }}">Add event</a>
    {% endif %}

    <a href="{{ path('app_calendar_index') }}">back to list</a>
{% endblock %}
